@import '../mixins';

/*
 *  HEADER FIXED BLOCK
 */


.cwt {
    &__header-fixed {
        padding: rem(10) 0;
        background: rgba($white, .9);
        color: $black;
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        border-bottom: 1px solid #e7e7e7;
        width: 100%;
        &__container {
            padding: 0 rem(120);

            @media (max-width: $md-max-width) {
                padding: 0 rem(30);
            }
        }
    }

    &__main-menu--dark {
        .cwt__main-menu__link {
            color: $black;
            font-weight: 300 !important;
            &:after {
                background: rgba($black, .3);
            }
        }
    }
    &__logo--small {
      position: absolute;
      z-index: 9999;
        width: rem(140);
        margin: rem(3) 0 0;
    }
}
body {
  -webkit-animation: bugfix infinite 1s;
}

/*This fixes a chrome/webkit bug for older Android Browsers */
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}


/*Required functional CSS don't change this bit
CSS styles are at the end! */

.mainMenu {
  width: 100%;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

#toggleMenu {
  display: none;
  &:checked ~ ul {
    max-height: 100%;
    opacity: 1;
  }
}

.mainMenu {
  > ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    overflow-y: hidden;
    max-height: 0;
  }
  li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    width: 100%;
    float: right;
  }
  a {
    display: block;
    width: 100%;
    /*required to make whole element clickable*/
    &:visited {
      display: block;
      width: 100%;
      /*required to make whole element clickable*/
    }
  }
}

label.menuTitle {
  margin: 0;
  display: block;
  cursor: pointer;
  background: url('../../../img/menu/menu.png');
  background-image: url('../../../img/menu/menu.svg'), none;
  background-repeat: no-repeat;
  background-position: 97% 10px;
  background-size: 24px 19px;
  /*Make same size as your menu.png*/
}

@media screen and (min-width: 768px) {
  label.menuTitle {
    display: none;
  }
  .mainMenu ul {
    display: block !important;
    border: 0;
    overflow: visible;
    max-height: 100% !important;
    li {
      width: auto;
      display: inline;
      border: 0;
    }
  }
}

/*Menu Styling CSS - change the below to suit your site!*/


.header-product a{
  text-align: center;
  display: inline-block;
    height: 36px;
    padding: 0 14px;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 38px;
    color: #333;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.header-product a:hover {
    background-color: #e5e5e5;
}
label.menuTitle {
  font-size: 20px;
  width: 94%;
  /*Use 100% and box-sizing if not supporting ie7*/
  padding: 17px 3%;
  font-weight: bold;
}

